name: FastAPI CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      run: |
        docker build -t fastapi-app .

    - name: Run container
      run: |
        docker run -d -p 8000:8000 fastapi-app

    - name: Test API
      run: |
        sleep 5
        curl http://localhost:8000
